  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="goToDetails()">
          <ion-input formControlName="usuario" label="Ingrese usuario"></ion-input>
          <br>
          <ion-input formControlName="usuario" placeholder="Ingrese usuario" type="email"></ion-input>
          <ion-button (click)="goToDetails()" [disabled]="!form.valid"> 
            Enviar
          </ion-button>     
        </form>   
      </ion-card-content>
        <img src="https://cdn.pixabay.com/animation/2024/02/01/18/31/18-31-51-245_512.gif">
    </ion-card>
  </div>